*{
    background-color: #121212;
}
td{
    background-color: grey;
    width: 5vh;
}
tr{
    height:5vh;
}
aside{
    color: aliceblue;
    align-content: center;
}
#moves{
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
.robot{
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
}
.target{background-color: black !important;}
.red{background-color: red;}
.blue{background-color: blue;}
.yellow{background-color: yellow;}
.green{background-color: green;}