*{
    background-color: #121212;
}
td{
    background-color: aliceblue;
    width: 6vh;
}
tr{
    height:6vh;
}

table{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
.robot{
    border-radius: 50%;
}
.robot:not(.target){
    background-color: red;
}
.target{
    background-color: aqua;
}